
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>
<script src="js/app.js"></script>
<script src="controllers/usercontroller.js"></script>
<script src="services/userservice.js"></script>
<script src="controllers/friendcontroller.js"></script>
<script src="services/friendservice.js"></script>

<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>
<body ng-app="app">
<p><a href="#!/">Main</a></p>
<li><a href="#!/login" ng-hide="currentUser.userName" >Login</a></li>
<li><a href="#!/register" ng-hide="currentUser.userName">Register</a></li>
<li><a href="#!/job">Job</a></li>
<li><a href="#!/logout" ng-click="logout()"  ng-show="currentUser.userName">Logout</a></li>
<li><a ng-show="currentUser.userName">welcome {{currentUser.userName}}</a></li>
 <li><a href="#!/pendingRequests" ng-hide="currentUser.userName==undefined">Friend Requests</a></li>
<li><a href="#!/getSuggestedUsers" ng-hide="currentUser.userName==undefined">ADD</a></li>
<li><a href="#!/listOfFriends" ng-hide="currentUser.userName==undefined" ng-click="listOfFriends()">List OF Friends</a></li>
       
<p>-------------------------------------------------------------------------------</p>
<div ng-view ></div>
</body>


</html>