
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>
<script src="js/app.js"></script>
<script src="controllers/usercontroller.js"></script>
<script src="services/userservice.js"></script>
<script src="controllers/friendcontroller.js"></script>
<script src="services/friendservice.js"></script>
<script src="controllers/jobcontroller.js"></script>
<script src="services/jobservice.js"></script>
<script src="controllers/blogcontroller.js"></script>
<script src="services/blogservice.js"></script>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>
<body ng-app="app">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="#">SocialConnect</a>
    </div>
    <ul class="nav navbar-nav">
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-hide="currentUser.userName==undefined">Blog</a>
      <li><a href="#!/addblog" ng-show="currentUser.role=='user'">Blog</a></li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-hide="currentUser.userName==undefined">Job</a>
          <ul class="dropdown-menu">
      <li><a href="#!/addjob" ng-show="currentUser.role=='ADMIN'">Add job</a></li>
      </ul>

       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-hide="currentUser.userName==undefined">Friends</a>
          <ul class="dropdown-menu">
          <li><a href="#!/pendingRequests" ng-hide="currentUser.userName==undefined">Friend Requests</a></li>
          <li><a href="#!/getSuggestedUsers" ng-hide="currentUser.userName==undefined">Add Friends</a></li>
          <li><a href="#!/listOfFriends" ng-hide="currentUser.userName==undefined" ng-click="listOfFriends()">List Of Friends</a></li>
    </ul>
    
    <li><img align='center' ng-src="http://localhost/CollaborationMiddle/getprofilepic/{{currentUser.userName}}" class="img-responsive" alt=""></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi,{{currentUser.userName}}<span class="glyphicon glyphicon-user pull-right"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/profilepic" class="btn btn-success btn-sm" ng-show="currentUser.userName"> Change Picture</a></li>
			<li><a href="#/edituser" ng-show="currentUser.userName" class="btn btn-danger btn-sm">Edit Profile</a></li>
            <li class="divider"></li>
           
            <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
            <li class="divider"></li>
            
            <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
            <li class="divider"></li>
            
            <li><a href="#!/login" ng-hide="currentUser.userName">Login<span class="glyphicon glyphicon-log-in pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#!/logout" ng-click="logout()"  ng-show="currentUser.userName">LogOut <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
          </ul>
        </li>
      </ul>

</nav>
<div ng-view ></div>
<a href="#!/login" ng-hide="currentUser.userName"></a>
</body>
</html>