
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>
<script src="js/app.js"></script>
<script src="controllers/usercontroller.js"></script>
<script src="services/userservice.js"></script>
<script src="controllers/friendcontroller.js"></script>
<script src="services/friendservice.js"></script>
<script src="controllers/jobcontroller.js"></script>
<script src="services/jobservice.js"></script>


<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>
<body ng-app="app">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SocialConnect</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#!/addjob" ng-show="currentUser.role=='ADMIN'">Job</a></li>
<li><a href="#!/pendingRequests" ng-hide="currentUser.userName==undefined">Friend Requests</a></li>
<li><a href="#!/getSuggestedUsers" ng-hide="currentUser.userName==undefined">Add Friends</a></li>
<li><a href="#!/listOfFriends" ng-hide="currentUser.userName==undefined" ng-click="listOfFriends()">List Of Friends</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a ng-show="currentUser.userName"><span class="glyphicon glyphicon-user">Hi,{{currentUser.userName}}</a></li>
      <li><a href="#!/register" ng-hide="currentUser.userName"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#!/login" ng-hide="currentUser.userName"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="#!/logout" ng-click="logout()"  ng-show="currentUser.userName"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
    </ul>
  </div>
</nav>
<div ng-view ></div>
</body>


</html>